div {
	padding-top: 50px;
	padding-left: 200px;
	width: 100px;
}
div > ul > li {
	border: 1px solid red;
	background-color: #eeeeee
}

div > ul > li > ul > li {
	border: 1px solid blue;
	margin-left: 10px;
	background-color: white;
}

h3 + p {
	font-style: italic;
}